
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
#footer {
    display: flex;
    visibility: visible;
}

footer iframe {
    width: 100% !important;
    height: 100px !important;
    position: fixed;
    bottom: 0px !important;
    overflow: hidden;
    z-index: 100;
}

.pie-pagina {
    width: 100%;
    background: black; 
    color: white;
    text-align: center;
    padding: 2px;
    font-size: smaller;
}

.pie-pagina h2 p {
    color: white;
    margin-bottom: 5px;
    font-size: 10px;
}

.pie-pagina .red-social a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin:5px 20px 10px 0;
    transition: all .3s ease;
}

.pie-pagina .red-social a:hover {
    transform: scale(1.3);
}
