
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 2rem;*/
    background: #362f2d;
    overflow: hidden;
}

header iframe {
    width: 100% !important;
    height: 80px;
    color:#F99;
    overflow: hidden;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    z-index: 100;
 }
     
.logo {
    font-weight: bold;
    font-size: 39px;
    margin: 15px;
    color:rgb(216, 161, 161);
}

.nav {
    margin-right: 15px;
}

.nav-li { 
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-li li a {
    text-decoration: none;
    color: rgb(216, 161, 161);
}

button {
    padding-right: 10px;
}

.abrir-menu, #cerrar {
    display: none;
}

@media screen and (max-width:610px){
    .abrir-menu, #cerrar{
        display: block;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav {
        bottom: 0;
        box-shadow: 0 0 0 100vmax  #362f2d(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
        align-items: end;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 1px;
        background-color: #362f2d;
        padding: 26px 10px 5px 5px;
    }
    .nav-li {
        flex-direction: column;
        align-items: end;
    }
    .nav-li li a {
        color: white;
    }
}
